.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.register__form-container {
  display: flex;
  justify-content: center;
}

input {
  display: block;
}

.register__guest-btn {
  scale: 1.2;
}

.register__button-container{
  margin-top:3rem;
}

.register__login {
  text-decoration: underline;
  margin-top: 2rem;
}

.register__login:hover {
  text-decoration: none;
}