.product-details__container {
  margin-top: 2rem;
  ;
}

.product-details__image-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-details__image {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 1rem;
}

.product__reviews-container {
  margin: 0 auto;
  width: 80vw;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__reviews-header {
  text-align: center;
}

.product__review {
  max-width: 30rem;
  margin: 3rem;
  border-bottom: 1px solid black;
}

.product__review-hero-content {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.product__review-rating {
  margin-left: auto;
}

.product__review-reviewer {
  text-align: right;
}